.container {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-rows: 50px 300px 100px 100px 50px;
  grid-template-columns: 20% 30% 25% 25%;
}
.item1 {
  background-color: black;
  color: white;
  text-align: center;
}
.item2 {
  background-color: red;
  color: white;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
}
.item3 {
  background-color: blue;
  color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}
.item4 {
  background-color: blueviolet;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.item5 {
  background-color: white;
  grid-column-start: 3;
  grid-column-end: 4;
}
.item6 {
  background-color: grey;
  color: white;
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: center;
}
.item7 {
  background-color: white;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.item8 {
  background-color: greenyellow;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
}
.item9 {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-rows: 50px 300px 100px 100px 50px;
    grid-template-columns: 20% 30% 25% 25%;
  }
  .item1 {
    background-color: black;
    color: white;
    text-align: center;
  }
  .item2 {
    background-color: red;
    color: white;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
  }
  .item3 {
    background-color: blue;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
  }
  .item4 {
    background-color: blueviolet;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .item5 {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .item6 {
    background-color: grey;
    color: white;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
  }
  .item7 {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .item8 {
    background-color: greenyellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
  }
  .item9 {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .container {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 100%;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }
  .item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
  }
  .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 5;
  }
  .item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4;
  }
  .item5 {
    display: none;
  }
  .item6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 6;
  }
  .item7 {
    display: none;
  }
  .item8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 8;
  }
  .item9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 9;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 100%;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }
  .item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
  }
  .item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
  }
  .item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4;
  }
  .item5 {
    display: none;
  }
  .item6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 6;
  }
  .item7 {
    display: none;
  }
  .item8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 8;
  }
  .item9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 9;
  }
}
